In [1]:
import pandas as pd
import numpy as np

# Series

In [9]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [12]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
ser1 = pd.Series([1,2,3,4], ['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,5,4], ['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [19]:
ser1['USA']

1

In [20]:
ser3 = pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [21]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

# DataFrames